---
import Layout from '../components/layouts/Layout.astro'
---

<Layout title="Sobre el sitio">
    <h1>About</h1>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim laborum ut, quia sunt adipisci repellendus quod voluptatibus obcaecati dignissimos numquam odit quo fugiat dicta accusamus? Facere soluta sed iusto. Corporis ipsum illum quisquam iusto itaque reprehenderit debitis dolores! Eius ipsam dolorem sunt, iusto consequuntur esse incidunt. Enim veniam suscipit sed laboriosam quaerat maiores quas eligendi eius nesciunt impedit non cum dignissimos id veritatis unde accusamus, error hic, esse cupiditate vitae natus possimus incidunt assumenda. Placeat molestias, iure repellat ipsam obcaecati ipsum error aliquid autem! Corrupti in blanditiis aliquid dolore nesciunt, velit praesentium illo expedita. Voluptate hic ullam autem perferendis nulla.</p>
</Layout>