<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, dolorem nesciunt? Animi reiciendis fugiat doloribus error repudiandae quidem aperiam eius quia, ullam laudantium. Veniam a libero perspiciatis nam magnam architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cupiditate dignissimos voluptatibus eum laborum consequatur quas minima deleniti debitis id.</p>
</section>